body{
    text-align: center;
}
h1{
    font-size: 50px;
    font-family: fantasy;
    font-weight: 300;
}
#Apps{
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
}
#Games{
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
}
#Chat_Bot{
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
}
img{
  transition: transform.2s;
    height: 400px;
    width: 400px;
}
img:hover{
    transform: scale(0.9);
}
.line{
    height: 6px;
    background-color: bisque;
    width: 70px;
    margin: auto 8px;
}